@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
/*the above written code is the importation of google font*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*declaring the auto border,padding and box size of html5 to be null*/


    
    
    
    :root{
        --font-family-primary: "poppins, sans-serif";
        --font-size-normal: 16px;
        
    }
    html {
        font-size: 100%;
    }
    body {
        font-size: var(--font-size-normal);
        font-family: var(--font-family-primary);
    
    }
    
    .hero {
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("./images/Home\ Page.png");
        height: 85vh;
        width:100%;
        position: relative;
    }
    .header {
        width: 100%;
        padding: 10px 0px;
        
    }
    
    .header_container {
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:0px 82px 10px 60px;
        
        
    }
    .logo {
        font-family:var(--font-family-primary);
        font-size:16px;
        color:#0078E7;
        font-weight:bolder;
        line-height:1px;
    
        }
        .navbar{
            display: flex;
            justify-content:space-between;
            width:30%;
            text-align:left;
        }
        .label{ 
            margin:0px 40px 0px 0px;
            font-size: 26px;
            line-height:70px;
            display:none;
            width: 26px;
            
            
    
        }
        #toggle{
            display:none;
        }
    
        button{
            color:white;
            background-color:#0078E7;
            border-radius:20px;
            border:none;
            display:flex;
            justify-content:center;
            margin-top: 15px;
            width:118px;
            height:30px;
            padding: 7px 5px;
            text-align:center;
            box-shadow: inset 0 0 0 0 red;
            transition: ease-out ;
            
        }
        button:hover{
            background-color: red;
        
            cursor: pointer;
    
            }
    
            
            
            .ul{ 
                list-style: none;
                text-decoration: none;
                width:200px;
                display: flex;
                justify-content: space-between;
                align-items: left;
                margin-top: 15px;
                margin-left:-550px;
            
            
            
            
            
            
            
            }
            li a{
            
                text-decoration:none;
                font-family: var(--font-family-);
                font-size: 16x;
                font-weight: bold;
                justify-items: space-between;
                color:#000000;
                list-style: none;
                margin-top: 15px;
                transition: all 0.1s ease 0s;
                
    
            
            
            }
            li a:hover{
                color:#0078E7;
            }
            .text{
                display: flex;
                justify-content: space-between;
                margin: 30px 0px 0px 30px;
            }
            .text-area{
                display: flex; 
                 width:500px;
                justify-content:left;
                flex-direction:column;
                text-align: left;
                position: relative;
                 margin: 40px 0px 0px 90px;
    
             }
    
             .p-text{
                font-family: var(--font-family-primary);
                font-size:  10px;
                display: flex;
                font-style: normal;
                font-weight: bold;
                letter-spacing:0.42em;
                color:#717171;
                margin-bottom:-12px;
                width: 500px;
                word-break: 3px;
            
                
                
            }
            .business{
                width: 500px;
                font-family: var(--font-family-primary);
                font-size:70px;
                font-weight:bolder;
                font-style: normal;
                color:#000000;
                
            
            
            
            
                
            }
            .nike{ 
                margin-left: 2px;
                margin-top:-11px;   
                padding-bottom: 15px;
                padding-right:7px;
                width:34%;
                height:10%;
            
            
            }
            .nike>img{
            width:100%;
            height:100%;
            }
               
        .house{
            
             
            
            width:60vw;
            height:84vh;
            justify-content:right;
            display:flex;
            margin:3px 100px 0px 250px;
            flex-direction: row;
            position: absolute;
            align-content: right;
            margin-left: 370px ;
            padding: 0px  30px 200px 300px ; 
            
            
                
        
            }
            .house>img{
                height: 100%;
                width: 100%;
            }
    
            .blue-button1{
                color:white;
                background-color:#0078E7;
                border-radius:20px;
                border:none;
                display:flex;
                justify-content:center;
                margin-bottom: 25px;
                width:118px;
                height:30px;
                padding: 7px 5px;
                text-align:center;
                box-shadow: inset 0 0 0 0 red;
                transition: ease-out ;
                
            }
             .blue-button1:hover{
                background-color: red;
            
                cursor: pointer;
        
    
            }
          .down-part{  
                width: 100%;
                background-color:#F9F9F9;
                display:flex;
                justify-content:r; 
                align-items: center;
                height: 40vh;
                
        
        
            }
            .section2{
                
                display: flex;
                width: 50%;
                margin-right:170px;
        
                
            }
            .section2b{ 
                display:flex;
                justify-content: right;
                text-align: center;
                width:60%;
                height: 40vh;
            }
            
        
            
            
            .background {
        
                background-color:#0078E7;
                
                justify-content: right;
                width:100%;
                height:40vh;
                padding: 25px 50px 10px 100px;
                
                
                
                
                
        
        
            }
            .background-text {
                color:white;
             text-align: left; 
                font-size:150%; 
                 font-family: var(--font-family-primary);
                 position: relative;
                 padding:25px 0px 15px 60px ;
        
        
            }
            .tube{
                width:15%;
                height:17%;
                position:absolute;
                left: 46%;
                margin-top: 70px;
            
            }
            .tube>img{
                width:100% ;
                height: 100%;
        
            }    .image1{
                margin-left:40px;
                margin-bottom:-25px;
        
            }
            .picture1{
                margin-left:220px;
        
            }
            .p1x{ background-color: white;
                border:10px solid white;
                box-shadow: #F9F9F9;
                color:#0078E7; 
                font-family: var(--font-family-primary);
                font-size: 15px;
                font-weight: bold;
                display: flex;
                padding-top:15px;
                border-radius:5px 5px 0px 0px;
        
        
            }
            .p1x2{background-color: white;
                border:10px 8px solid #7575;
                box-shadow: #F9F9F9; 
                color:black;
                font-size: 8px;
                font-family:"poppins, sans-serif";
                text-align: center;
                border-radius:0px 0px 5px 5px
        
            }
            .image2{  margin-left: 40px;
                margin-bottom:-25px;
        
            }
            .picture2{
                margin-left: 45px;
            } 
            .p2x{ background-color: white;
                border:10px solid white;
                box-shadow: #717171;
                color:#0078E7; 
                font-family:"poppins, sans-serif";
                font-size: 15px;
                font-weight: bold;
                border-radius:5px 5px 0px 0px;
                display: flex;
                padding:18px;
                text-align: center;
                margin-bottom:-10px;
        
                }
        
        
           .p2x2{background-color: white;
                border:10px 8px solid white;
                box-shadow: #F9F9F9;
                color:black;
                font-size: 8px; 
                font-family:"poppins, sans-serif";
                padding-top: 5px;
                text-align: center;
                border-radius:0px 0px 5px 5px;
        
        
         
        
            }
            @media screen and (max-width: 1024px){
                .ul{ 
                    margin-left:-400px;
                }
                .house{ 
                    padding:20px 90px 160px 180px;
                    margin-left: 339px;
                }
                .business{
                    font-size:65px;
                 }
                 .nike{
                     width:30%;
                 }
                 .picture1{
                     margin-left: 100px;

                 }
                 .background-text{
                     padding:15px 0px 5px 10px 30px;
                     height:40vh;
                 }
                 .background{
                      height:40vh;
                      padding:20px;
                }
                .down-part{
                    height:40vh;
                }

            }





            @media screen and (max-width:768px) {
                .header_container{ 
                    padding:0px;
                    width:100%; 
                }
                .logo{
                    font-size: 12px;
                    margin-left: 10px;
                }
                .ul{
                    font-size: 12px;
                }
                .button{
                    margin-right: 10px; 
                    padding:7px 1px;
                }
                .text{
                    margin:30px 0px 0px 0px;
                }
                .text-area{
                    margin: 20px 0px 0px 0px;
                    margin-left:10px;
                    width: 380px;
                }
                .p-text{
                    font-size: 8px;
                }
                .house{
        
            
                    padding:20px 90px 185px 100px;
                }
                .section2{
                    width:20%;
                    flex-direction:column;
                }
                .p1x{ 
                    font-size: 12px;
                }
                .image1{
                    margin-left:34px;
                }
                .p2x{ 
                    font-size: 12px;
                    padding: 15px;
                }
                .image2{ 
                    margin-left:34px;
                }
                .picture1{
                    margin-left:40px;
                    margin-bottom: 20px;
                }
                .tube{ 
                    margin-right:300px;
                    width:20%;
                    position:absolute;
                    right:5%;
                }
                .background-text{ 
                    padding-left:80px;
                    font-size:100%;
                
                }
                .background{width:77%}

            }

            @media screen and (max-width:500px){
                
                 .label{
                    display:block;
                    cursor: pointer;


                } 
                .ul{
                    text-align: center;
                    width:100px ;
                    display:none;
                } 
                .ul li{
                    display:block;
                    border-bottom:1px solid #0078E7;
                    margin: 0px;
                }  
                #toggle: checked + .ul{
                    display:block;

                }
                .text-area{
                    width: 200px;
                    margin-left:-140px ;
                }
                .text{
                    justify-content:center;
                }
                .business{
                    width: 200px;
                    font-size: 30px;
                }
                .p-text{
                    font-size:8px;
                    margin-bottom: 1px;
                }
                .house{
                    padding:0px 50px 300px 90px;
        
                    
                }
                .button{

                    border-radius: 10px;
                    height: 20px;
                    padding: 5px;
                    font-size:8px;
                }
                .logo{ 
                margin-left:10px;
                }
                .background-text{
                    font-size:70%;
                    padding: 5px 5px 5px 40px;
                }
                .section2{
                    margin-left: - 20px;
                    margin-bottom:-40px;
                    flex-direction:row;
                }

                .tube{ margin-left:42px}
                .picture2{margin-left: 20px;}
                .image2{margin-left: 18px}
                .p2x{padding: 10px;}


            

            }






